.h1{
    border: solid 10px green;
    width: 80px;
}
.h2{
    border: dashed 10px green;
    width: 80px;
}
.h3{
    border: dotted 10px green;
    width: 80px;
}
.h4{
    border: double 10px green;
    width: 80px;
}
.h5{
    border: ridge 10px green;
    width: 80px;
}
.h6{
    border: groove 10px green;
    width: 80px;
}
.h7{
    border: outset 10px green;
    width: 80px;
}
.h8{
    border: inset 10px green;
    width: 80px;
}

